

<table style=" width: 100%;height: 16%;background-color: rgb(194, 233, 88);">
  <tr>
    <td style="width: 15%; text-align: center;">  <a routerLink="/launchhotel"> Register New Hotel</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/hotels"> View All Hotels</a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/rooms"> Hotel Rooms </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/bookingdetails"> Booking Details </a>  </td>
    <td style="width: 15%; text-align: center;">  <a routerLink="/paymenthistory"> Payment History </a>  </td>
    
  </tr>
</table>
<hr/>
<router-outlet></router-outlet>